/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/* Utili */

.container{
    min-height: 600px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    min-height: 450px;
    width: 800px;
    display: flex;
}

/* stile dell'intestazione */

header{
    min-height: 70px;
    background-color: rgb(0, 170, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    width: 430px;
    background-color: orange;
    border: 2px dashed blue;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}

.nav-child{
    width: calc(100% / 4);
    height: 100%;
    border: 2px dashed currentColor;
}

.options{
    width: calc(100% / 2);
    border: 2px dashed currentColor;
    height: 100%;
}

.intro{
    background-color: blue;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-button{
    width: 600px;
    min-height: 350px;
    background-color: pink;
}

/* stile dei blocchi */



.grey{
    background-color: rgb(115, 114, 114);
}



.picture{
    background-color: blue;
    width: 60%;
}

.text{
    background-color: pink;
    min-height: 450px;
    width: 40%;
}
.picture-invitation{
    background-color: blue;
    width: 70%;
}

.text-invitation{
    background-color: pink;
    width: 30%;
}
.picture-channel{
    background-color: blue;
    width: 60%;
}

.text-channel{
    background-color: pink;
    width: 40%;
}


.card-technology{
    background-color: rgb(2, 88, 2);
    min-height: 550px;
    width: 800px;
}

/* stile pie' di pagina */

footer{
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 505px;
    flex-wrap: wrap;
    align-content: center;
}

.fc{
    min-height: 500px;
    max-width: 800px;
}

.slogan{
    background-color: rgb(228, 87, 136);
    min-height: 450px;
    width: 30%;
}
.app-info{
    min-height: 450px;
    width: 70%;
    background-color: rgb(75, 176, 143);
    display: flex;
}



.info{
    width: calc(70% - 25%);
    border: 2px dashed black;
    height: 100%;
    background-color: transparent;
}



.logo-button{
    width: 800px;
    height: 70px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.button-child{
    height: 40px;
    width: 100px;
    background-color: pink;
    border: 2px dashed black;
}

